.position {
  padding: 20px 16px;
  margin: 0 auto;
  max-width: 1200px;
}
.round img {
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.rounded-bl {
  padding: 20px 16px;
  margin: 0 auto;
  max-width: 1200px;
  border-bottom-left-radius: 120px;
}


@media (min-width: 768px) {
  .round img {
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;
  }
}

@media (min-width: 640px) {
  .round img {
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px;
  }
}

@media (min-width: 1024px) {
  .round img {
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
  }
}


.overview {
  font-weight: 700;
}


.image-container {
  position: relative;
  overflow: hidden;
  
}

.image-container img {
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container:hover img {
  transform: scale(1.1);
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}